* {
    margin: 0;
    padding: 0;
    color: #717A86;
    font-family: 'OpenSans';
    
  }
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}
a,ul {
    text-decoration: none;
    list-style-type: none;
}
@font-face {
    font-family: 'OpenSans';
    src: url('./Font/OpenSans-Regular.ttf');
    font-weight: 400;
}
header {
    height: 80px;
    border-bottom: 1px solid #717A86;
}
header > nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.navigation {
    width: 20%;
    display: flex;
    justify-content: space-around;
}

#main-grid-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
    width: 80%;
    margin-top: 20px;
    margin-left: 10%;
}
.img {
    width: 100%;
    height: auto;
}
#grid-1__box-1 {
    grid-column: 1/3; 
    grid-row: 1 / span 2;
    background-image: url(../IMG/Rectangle-94.jpg);
    background-size: cover;
}
#grid-1__box-1 > div {
    margin:40px 0 0 40px;
}
#grid-1__box-1 > div > h1 {
    font-size: 48px;
    white-space: pre-line;
    margin-bottom: 20px;
}
#grid-1__box-1 > div > p {
    font-size: 24px;
    white-space: pre-line;
}
#grid-1__box-1 > button {
    width: 150px;
    height: 40px;
    background-color: #7C879D;
    border:none;
    border-radius: 20px;
    color: white;
    margin:125px 0 0 40px;
}


.grid-1__box-2-3 {
    height: 220px;
}
.grid-1__box-2-3__wrapper-img {
 height: 80%;
 width: 100%;
 overflow: hidden;
 margin-bottom: 10px;
}

 .grid-1__box-2-3 > p {
    font-size: 24px; 
 }



#grid-2__container {
    width: 80%; 
    margin-left: 10%; 
    margin-top: 20px;
} 
#grid-2__container > h2 {
    font-size: 36px;
    margin-bottom: 15px;
}
#grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 10px;
    height: 450px;
}
#grid-2__box-1 {
grid-column: 1/2; 
grid-row: 1 / span 4;

}
#grid-2__box-1__wrapper-img {
    width: 100%;
    height: 60%;
    overflow: hidden;
}

#grid-2__box-1 > h2 {
    font-size: 24px;
    margin: 20px 0 10px 0;
}

#grid-2__box-2 {
    grid-column: 2/4;
    grid-row: 1;
    height: 150px;
}
.grid-2__box-2-3-4__wrapper-img {
    width: 100%;
    height: 70%;
    overflow: hidden;
}

#grid-2__box-2 > p {
    margin: 15px 0 0 20px;
    font-size: 24px;
}

#grid-2__box-3 {
    grid-column: 2/4;
    grid-row: 2;
    height: 150px;
}
#grid-2__box-3 > p {
    margin: 10px 0 0 20px;
    font-size: 24px;
}

#grid-2__box-4 {
    grid-column: 2/4;
    grid-row: 3;
    height: 150px;
}
#grid-2__box-4 > p {
    margin: 10px 0 0 20px;
    font-size: 24px;
}

#wrapper__grid-3__container {
    margin-top: 100px;
    width: 100%;
    height: 1340px;
    background-color: #585e70;  
}
#grid-3__container {
    width: 80%;
    margin-left: 10%;
}
#grid-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 10px;
    height: 1200px;
}
#grid-3__container > h2 {
    padding: 30px 0 15px 0;
    color: white;
}
#grid-3__box-1 {
    grid-column: 1;
    grid-row: 1;
}
.grid-3__box-1-2-3-5-6__wrapper-img {
    width: 100%;
    height: 55%;
    
}
#grid-3__box-2 {
    grid-column: 2;
    grid-row: 1;
}
#grid-3__box-3 {
    grid-column: 3;
    grid-row: 1/3;
}
#grid-3__box-4 {
    grid-column: 1;
    grid-row: 2;
}
#grid-3__box-5 {
    grid-column: 2;
    grid-row: 2;
}
#grid-3__box-6 {
    grid-column: 1;
    grid-row: 3;
}
#grid-3__box-7 {
    grid-column: 2/4;
    grid-row: 3;
}
#grid-3__box-1 > h2 {
    color: white;
    font-size: 30px;
    margin: 10px 0 20px 20px;
}
#grid-3__box-1 > p {
    color: white;
    font-size: 20px;
    margin-left: 20px;
}
#grid-3__box-2 > h2 {
    color: white;
    font-size: 30px;
    margin: 10px 0 20px 20px;
}
#grid-3__box-2 > p {
    color: white;
    font-size: 20px;
    margin-left: 20px;
}
.grid-3__box-3__wrapper-img {
    width: 100%;
    height: 93%;
    overflow: hidden;
}
#grid-3__box-3 > h2 {
    color: white;
    font-size: 30px;
    margin: 10px 0 20px 20px;
}
#grid-3__box-4 > h2 {
    color: white;
    font-size: 30px;
    margin: 10px 0 20px 20px;
}
#grid-3__box-4 > p {
    color: white;
    font-size: 20px;
    margin-left: 20px;
}
#grid-3__box-5 > h2 {
    color: white;
    font-size: 30px;
    margin: 10px 0 20px 20px;
}
#grid-3__box-5 > p {
    color: white;
    font-size: 20px;
    margin-left: 20px;
}
#grid-3__box-6 > h2 {
    color: white;
    font-size: 30px;
    margin: 10px 0 20px 20px;
}
#grid-3__box-6 > p {
    color: white;
    font-size: 20px;
    margin-left: 20px;
}
#grid-3__box-6__wrapper-img {
    height: 87%;
    overflow: hidden;
}
#grid-3__box-7 > h2 {
    color: white;
    font-size: 30px;
    margin: 10px 0 0 20px;
}
footer {
    border-top: 1px solid white;
    height: 80px;
    background-color: #585E70;
}
footer > div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}
footer > div > h1 {
    color: white;
}
footer > div > a {
    color: white;
    font-size: 20px;
}